{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mb-3 mt-3">Records</h1>
<form  class="mt-4">
  {% csrf_token %}
  <label for="product">Search</label>
  <input class="mb-3" type="text" name="product" id="product">
</form>
{% if records %}
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
        {% for record in records %}
          <tr>
            <th scope="row"><a href="{% url 'record' record.id %}">{{ record.id }}</a></th>
            <td>{{ record.first_name }}</td>
            <td>{{ record.last_name }}</td>
            <td>{{ record.email }}</td>
          </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{% else %}


<div class="col-md-6 offset-md-3 mt-3">
    <h1>Login</h1>

    <form method="POST" action="{% url 'home' %}" class="mt-4">
        {% csrf_token %}

        <form>
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp" name="username", placeholder="Username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password", placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>

</div>

{% endif %}


{% endblock %}